@{
    ViewData["Title"] = "Let Skills";
}

<script type="text/javascript">
    $(document).ready(function () {
        $('.carousel').carousel({ interval: 5000, pause: "false" });
    });
</script>

<style>
    .btn-xlarge {
        padding: 18px 28px;
        font-size: 25px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
        text-align: center;
        display: inline-block;
        background: #ff9900; /**/
    }

        .btn-xlarge:hover {
            background: #ffAA22; /**/
        }

    .btn-normal {
        padding: 8px 14px;
        font-size: 15px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
        text-align: center;
        display: inline-block;
        background: #ff9900; /**/
    }

        .btn-normal:hover {
            background: #ffAA22; /**/
        }

    .boxCenterNumber {
        height: 120px;
        width: 200px;
        border-radius: 5%;
        background-color: whitesmoke;
        border: 2px solid black;
        font-size: 25px;
        text-align: center;
        padding: 0 20px;
        display: flex;
        justify-content: center; /* align horizontal */
        align-items: center; /* align vertical */
    }

    .title-background {
        background-color: #073281;
    }

    .title-colour {
        color: #ffffff;
    }

    .footer-background {
        background-color: #073281;
    }

    .footer-colour {
        color: #ffffff;
    }

    .howitworks {
        padding: 10px;
        border: 5px green;
        margin-top: 20px;
        background-color: #99ff99;
    }

    #wrap {
        /*margin-top: 20vh;
        margin-bottom: 20vh;*/
        padding-top: 16vh;
        padding-bottom: 20vh;
    }

    #content {
        min-height: calc(100vh - 40px);
    }

    #footer {
        height: 20px;
        background: #222;
        color: white;
    }

    .fsize {
        font-size: 20px;
    }

    .body-background {
        background-image: url('../dist/Background.png');
        height: 400px;
    }

    .register {
        display: inline-block;
        float: left;
    }

    .list-group li {
        border: 0 none;
    }

    .logo > img, .logo > h2 {
        display: inline-block;
    }

    .img-valign {
        vertical-align: middle;
        margin-bottom: 1em;
        margin-left: 1em;
    }

    /* keeps this behind all content */
    .carousel {
        z-index: 0;
    }


    .carousel-fade .carousel-inner .item {
        opacity: 0;
        transition-property: opacity;
    }

    .carousel-fade .carousel-inner .active {
        opacity: 1;
    }

        .carousel-fade .carousel-inner .active.left,
        .carousel-fade .carousel-inner .active.right {
            left: 0;
            opacity: 0;
            z-index: 2;
        }

    .carousel-fade .carousel-inner .next.left,
    .carousel-fade .carousel-inner .prev.right {
        opacity: 1;
    }

    .carousel-fade .carousel-control {
        z-index: 1;
    }

    @@media all and (transform-3d), (-webkit-transform-3d) {
        .carousel-fade .carousel-inner > .item.next,
        .carousel-fade .carousel-inner > .item.active.right {
            opacity: 0;
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }

        .carousel-fade .carousel-inner > .item.prev,
        .carousel-fade .carousel-inner > .item.active.left {
            opacity: 0;
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }

            .carousel-fade .carousel-inner > .item.next.left,
            .carousel-fade .carousel-inner > .item.prev.right,
            .carousel-fade .carousel-inner > .item.active {
                opacity: 1;
                -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
            }
    }

    .carousel .item {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-transition: opacity 3s;
        -moz-transition: opacity 3s;
        -ms-transition: opacity 3s;
        -o-transition: opacity 3s;
        transition: opacity 3s;
    }

    .carousel .one {
        background: url(dist/frontpage1.jpg);
        background-position: center center;
        background-size: cover;
        -moz-background-size: cover;
    }

    .carousel .two {
        background: url(dist/frontpage2.jpg);
        background-position: center center;
        background-size: cover;
        -moz-background-size: cover;
    }

    .carousel .three {
        background: url(dist/frontpage3.jpg);
        background-position: center center;
        background-size: cover;
        -moz-background-size: cover;
    }

    .carousel .four {
        background: url(dist/frontpage4.jpg);
        background-position: center center;
        background-size: cover;
        -moz-background-size: cover;
    }

    .carousel .five {
        background: url(dist/frontpage5.jpg);
        background-position: center center;
        background-size: cover;
        -moz-background-size: cover;
    }

    .carousel .active.left {
        left: 0;
        opacity: 0;
        z-index: 2;
    }

    .car1 {
        background: url(dist/frontpage1.jpg);
        background-size: cover;
        background-position: center center;
        position: relative;
    }
</style>

<div>
    <div id="myCarousel" class="carousel slide carousel-fade">
        <div class="carousel-inner">
            <div class="item one"></div>
            <div class="item two"></div>
            <div class="item three"></div>
            <div class="active item four"></div>
            <div class="item five"></div>

            <div style="position:absolute;z-index:3;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,0.4);"></div>
            <div class="row" style="position:relative;z-index:4;color:#fff">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-10 text-left logo">
                            <img class="img-valign" src="dist/ukflag.png" height="42" width="42">
                            <h2 class="title-colour" style="margin-left:0.5em">Person to Person job board</h2>
                        </div>
                        <div class="col-md-2 text-center">
                            <h2>
                                <input type="button"
                                       class="btn btn-warning btn-normal"
                                       value="Register Today"
                                       onclick="@("window.location.href='http://localhost:5000/Account/Register'");">
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="position:relative;z-index:4;color:#fff">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-10 text-left">
                        </div>
                        <div class="col-md-2 text-center">
                            <p style="color:white">it's completely free</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="position:relative;z-index:4;color:#fff">
                <div class="col-md-12 text-center">
                    <div class="row">
                        <div class="col-md-2">

                        </div>
                        <div class="col-md-8" id="wrap">
                            <div class="col-md-6 text-center">

                                <input type="button"
                                       class="btn btn-warning btn-xlarge"
                                       value="Advertiser"
                                       onclick="@("window.location.href='" + @Url.Action("Index", "Client") + "'");">

                                <div class="fsize" style="margin-top:1em">
                                    Advertise a job and find the right person for you.
                                </div>

                            </div>
                            <div class="col-md-6 text-center">

                                <input type="button"
                                       class="btn btn-warning btn-xlarge"
                                       value="Job Seeker"
                                       onclick="@("window.location.href='" + @Url.Action("Index", "Provider") + "'");">

                                <div class="fsize" style="margin-top:1em">
                                    Search for the jobs and share your skills with people.
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-10 col-md-offset-1 text-center" style="background-color: #fff;">
        <h4 style="margin-top:2em">How it works?</h4>
    </div>
    <div class="col-md-10 col-md-offset-1" style="background-color: #fff;">
        <div class="col-md-1"></div>
        <div class="col-md-2 text-center">
            <h4 class="howitworks">Post a job</h4>
            Deifine a skill you search, location and when you need it.
        </div>
        <div class="col-md-2 text-center">
            <h4 class="howitworks">Apply</h4>
            Apply for a job that matches your skills, location and availability.
        </div>
        <div class="col-md-2 text-center">
            <h4 class="howitworks">Offer</h4>
            Choose the best applicant for the job and make an offer.
        </div>
        <div class="col-md-2 text-center">
            <h4 class="howitworks">Work</h4>
            Commit to the offer and deliver the work.
        </div>
        <div class="col-md-2 text-center">
            <h4 class="howitworks">Feedback</h4>
            Evaluate the quality of the completed work and leave a feedback.
        </div>
        <div class="col-md-1"></div>
    </div>
</div>

<div calss="row" style="margin-top:1em">
    <div class="col-md-10 col-md-offset-1 text-center">
        @Html.Partial("SkillList.cshtml")
    </div>
</div>

<div calss="row">
    <div class="col-md-12">
        <h4>Let Skills</h4>
    </div>
</div>

